.header {
  height: 80px;
  width: 90%;
  position: fixed;
  top: 0px;
  z-index: 100;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.inner-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.header-logo {
  flex: 1;
}

.logo {
  cursor: pointer;
  width: 70px;
  filter: saturate(0);
  transition: filter 0.3s cubic-bezier(0.145, 0.045, 0.155, 1);
}

.logo:hover {
  filter: saturate(1);
  transition: filter 0.3s cubic-bezier(0.145, 0.045, 0.155, 1);
}

.header-links {
  visibility: visible;
  display: flex;
  flex: 1;
  justify-content: space-around;
  max-width: 300px;
}

.header-link {
  display: initial;
  cursor: pointer;
  font-family: "Bushcraft";
  transition: color 0.3s cubic-bezier(0.145, 0.045, 0.155, 1);
}

.header-link:hover {
  color: #fc8a17;
  transition: color 0.3s cubic-bezier(0.145, 0.045, 0.155, 1);
}

.header-link:last-child {
  display: none;
}

.header-menu {
  visibility: hidden;
  flex: 1;
  text-align: right;
}

@media (max-width: 768px) {
  .header-links {
    justify-content: flex-end;
  }

  .header-link {
    display: none;
  }

  .header-link:last-child {
    display: initial;
  }

  .header-menu {
    visibility: visible;
  }
}
