.header {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 100;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  display: flex;
  justify-content: center;
}

.inner-header {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.header-logo {
  flex: 1;
}

.logo {
  cursor: pointer;
  width: 70px;
  fill: white;
}

.logo a {
  fill: white;
}

.logo .logo-flame {
  fill: white;
  transition: fill 0.3s cubic-bezier(0.145, 0.045, 0.155, 1);
}

.logo:hover .logo-flame {
  fill: #fc8a17;
  transition: fill 0.3s cubic-bezier(0.145, 0.045, 0.155, 1);
}

.header-links {
  visibility: visible;
  display: flex;
  flex: 1;
  justify-content: space-around;
  max-width: 300px;
}

.header-link {
  display: initial;
  cursor: pointer;
  font-family: "Bushcraft";
  transition: color 0.3s cubic-bezier(0.145, 0.045, 0.155, 1);
}

.header-link:hover {
  color: #fc8a17;
  transition: color 0.3s cubic-bezier(0.145, 0.045, 0.155, 1);
}

.header-link:last-child {
  display: none;
}

.header-menu {
  visibility: hidden;
  flex: 1;
  text-align: right;
}

@media (max-width: 768px) {
  .header-links {
    justify-content: flex-end;
  }

  .header-link {
    display: none;
  }

  .header-link:last-child {
    display: initial;
  }

  .header-menu {
    visibility: visible;
  }
}
